@import '~antd/dist/antd.css';

.login__form__container {
  background-image: url('./images/loginBackground.jpg');
  /* padding-top: 20vh; */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  /* width: 90%; */
  height: 100vh;
  margin: auto;
}
.Welcome__page__container {
  background-image: url('./images/mainBackground.jpeg');
  background-position: center; /* Center the image */
  background-repeat: repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  width: 100%;
  height: calc(100vh - 50px);
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}
/*
.welcome__page__buttons{
  width: 150px;
  height: 150px;
  border-radius: 10%;
  border: black solid;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #e76c6c;
  animation-name: spin;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

*/
.welcome__page__buttons:hover {
  cursor: pointer;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
    opacity: 0.7;
  }
  to {
    transform: rotate(360deg);
    opacity: 0.5;
  }
}
.heart-shape {
  position: relative;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #e76c6c;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #e76c6c;
  animation-name: spin;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.heart-shape:before,
.heart-shape:after {
  position: absolute;
  width: 100px;
  height: 100px;
  content: '';
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: #e76c6c;

  display: flex;
  align-items: center;
  justify-content: center;
}
.heart-shape:before {
  bottom: 0px;
  left: -50px;
}
.heart-shape:after {
  top: -50px;
  right: 0px;
}
.letter__container {
  width: 100%;
  height: 100vh;
}
.letter__container img {
  width: 100%;
  height: 100%;
}
.sliderimg {
  width: 100%;
  height: 80vh;
  object-fit: contain;
}

.video__page__container {
  width: 100%;
  height: 100vh;
  background-image: url('./images/videoBack.jpeg');
  background-position: top; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain; /* Resize the background image to cover the entire container */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 50px;
}
.video__page__message {
  font-size: 1.5rem;
  width: 80%;
  font-family: 'Lobster', cursive;
  color: #e76c6c;
}
.todo__list__title {
  margin: 30px;
  font-size: 1.8rem;
  color: red;
  font-family: 'Langar', cursive;
}
.todo__list__items__container {
  min-width: 350px;
  min-height: 80px;
  border: #eb2f96 dashed;
  border-radius: 15px;
  padding: 10px;
  margin: 8px;
  font-family: 'JetBrains Mono', monospace;
}

.todo__list__items__container > * {
  padding: 5px;
}
.navBar__container {
  /* border: black solid; */
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  z-index: 10;
}
.navBar__container > * {
  /* border: black solid; */
}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item {
  margin: 0 !important;
}
