@import '~antd/dist/antd.css';


.login__form__container{
  background-image: url('./images/loginBackground.jpg');
  /* padding-top: 20vh; */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  /* width: 90%; */
  height: 100vh;
  margin: auto;
}
.Welcome__page__container{
  background-image: url('./images/mainBackground.jpg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  width: 100%;
  min-height: 100vh;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}
.welcome__page__buttons{
  width: 80%;
  border: black solid;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 10px; */
}


.welcome__page__buttons:hover{
  cursor: pointer;
}